<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/stylesheets/icon.css">
    <title>Document</title>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-12-sm">
                <h5 style="color: gold;" class="">Search results for tutors __________</h5>
            </div>
        </div>
        {{#each tutor}}
        <div style="padding-top:5%" class="row justify-content-sm-center">
            <div style="padding-right:1%" class="">
                {{!-- <div style="padding-left:200%" class=""> </div> --}}
                <div style="float: right" class="col-12-sm rcorners1">
                    <ul>
                        <li><span><strong>Name: </strong>{{tutor_names}}</span></li>
                        <li><span><strong>Age: </strong>{{age}}</span></li>
                        <li><span><strong>Bio: </strong>{{tutors_bio}}</span></li>
                        <li><span><strong>Experience: </strong>{{experience}}</span></li>
                        <li><span><strong>Subject: </strong>{{tutor_subject}}</span></li>
                        <li><span><strong>Rating: </strong>{{reviews}}</span></li>
                        <a href="#" class="badge badge-success">live chat</a>
                        <a href="#" class="badge badge-info">send message</a>
                        <a href="/ratings" class="badge badge-warning">rate</a>
                    </ul>
                </div>
            </div>
        </div>
        {{/each}}
        <div class="alert alert-danger justify-content-sm-center text-center fade show" role="alert">
            <strong>{{msg}}</strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        
        <a href="/"> <button style="scroll-padding-: 20%;" type="button" class="btn btn-info">Home</button></a>
    </div>
</body>

</html>